:root {
  --level-1: #16161a;
  --text-on-level-1: #fffffe;
  --text-second-on-level-1: #94a1b2;
  --accented-color: #7f5af0;
  --accented-color-rgb: 127, 90, 240;
  --text-on-accented-color: #fffffe;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--level-1);
  color: var(--text-on-level-1);
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
